<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Favicon and Apple Icons -->
    <link
      href="{{ url_for('static', filename='images/apple-touch-icon.png') }}"
      rel="apple-touch-icon"
      sizes="180x180"
    />
    <link
      href="{{ url_for('static', filename='images/favicon-32x32.png') }}"
      rel="icon"
      type="image/png"
      sizes="32x32"
    />
    <link
      href="{{ url_for('static', filename='images/favicon-16x16.png') }}"
      rel="icon"
      type="image/png"
      sizes="16x16"
    />
    <link
      href="{{ url_for('static', filename='images/manifest.json') }}"
      rel="manifest"
    />
    <link
      href="{{ url_for('static', filename='images/safari-pinned-tab.svg') }}"
      rel="mask-icon"
      color="#5bbad5"
    />
    <link
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      rel="shortcut icon"
    />
    <meta
      name="msapplication-config"
      content="{{ url_for('static', filename='images/browserconfig.xml') }}"
    />
    <meta
      name="google-site-verification"
      content="9nsIofsMOLNg2_saks11yFfeW6Z6SJ6ao1R3G-cBJ6w"
    />
    <meta name="theme-color" content="#ffffff" />

    <!-- Google Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- GNR StyleSheet -->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />

    <!-- Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-120510002-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-120510002-1");
    </script>

    <!-- Tailwind -->
    <link
      href="{{ url_for('static', filename='css/main.css') }}"
      rel="stylesheet"
    />

    <title>GNR: Restrooms For All</title>
    {% endblock %}
  </head>

  <body>
    <header class="sticky">
      <div class="container mx-auto">
        <div class="flex items-center justify-between h-16">
          <div class="flex items-center gap-2">
            <a class="navbar-brand" href="http://restroom.network/">
              <img
                src="{{ url_for('static', filename='images/rainbow.png') }}"
                width="30"
                height="30"
              />
            </a>
            <span class="text-xl font-semibold">GNR: Restrooms for All</span>
          </div>
          <a href="http://restroom.network/about" style="text-decoration: none">
            <i class="material-icons">more_vert</i>
          </a>
        </div>
      </div>
    </header>
    <!-- Page content -->
    {% block content %}{% endblock %} {% block scripts %}
    <!-- Optional JavaScript -->
    {% endblock %}
  </body>
</html>
