{% extends "header.html" %} {% block content %}
<div
  class="container-fluid"
  style="padding-left: 12%; padding-right: 12%; min-height: 100%"
>
  <br /><br />
  <div class="d-none d-md-block d-lg-none"><br /><br /></div>
  <div class="d-none d-lg-block"><br /><br /><br /><br /><br /><br /></div>
  <div class="d-none d-lg-block">
    <h1>Find Gender Neutral Restrooms</h1>
  </div>

  <form method="post" class="form-inline">
    <div class="d-block d-sm-block"><br /><br /></div>
    <div class="row">
      <div class="col-md-auto" style="padding-bottom: 10px">
        <a href="" class="btn btn-light disabled" role="button" tabindex="-1"
          >Zip Code</a
        >
        <input
          type="text"
          id="myInput"
          class="form-control btn-light"
          placeholder="Ex: 94545, 94501, 94502"
          name="location"
          value="{{ request.form.location }}"
          aria-label="Ex: 94545, 94501, 94502"
        />
      </div>
      <div class="col-md-auto" style="padding-bottom: 10px">
        <a href="" class="btn btn-light disabled" role="button" tabindex="-1"
          >Type of Establishment</a
        >
        <input
          type="text"
          id="myInput"
          class="form-control btn-light"
          placeholder="Ex: Sushi, Fries, Steak"
          name="type"
          value="{{ request.form.type }}"
          aria-label="Ex: Sushi, Fries, Steak"
        />
      </div>
      <div class="col-md-1">
        <input
          class="btn btn-light"
          id="submitkey"
          type="submit"
          value="Submit"
        />
      </div>
    </div>

    <script>
      var input = document.getElementById("myInput");
      input.addEventListener("keyup", function (event) {
        event.preventDefault();
        if (event.keyCode === 13) {
          document.getElementById("submitkey").click();
        }
      });
    </script>
  </form>
  {{ error }}
  <br /><br />
</div>
{% endblock %}
