{% extends "header.html" %}

{% block body %}
{% if not found %}
<div class="container-fluid" style="padding-left: 12%; padding-right: 12%; min-height: 100%;">
<br> </br>

    <div class="d-none d-md-block d-lg-none">
        <br> </br>
    </div>

    <div class="d-none d-lg-block">
        <br> </br>
        <br> </br>
        <br> </br>
        <br> </br>
    </div>
    <div class="d-none d-lg-block">
        <h1> Find Gender Neutral Restrooms</h1>
    </div>

    <div class="d-lg-none">
        <h2> Find Gender Neutral Restrooms</h2>
    </div>

<form method="post" class="form-inline">

    <div class="d-block d-sm-block">
        <br> </br>
    </div>

    <div class="row">
        <div class="col-md-auto" style="padding-bottom:10px" ><a href="" class="btn btn-light disabled" role="button" tabindex="-1">Zip Code</a>
                <input type="text" id="myInput" class="form-control btn-light" placeholder="Ex: 94545, 94501, 94502" name="location" value="{{request.form.location}}" aria-label="Ex: 94545, 94501, 94502">
            </div>
        <div class="col-md-auto" style="padding-bottom:10px" ><a href="" class="btn btn-light disabled" role="button" tabindex="-1">Type of Establishment</a>
                <input type="text" id="myInput" class="form-control btn-light" placeholder="Ex: Sushi, Fries, Steak" name="type" value="{{request.form.type}}" aria-label="Ex: Sushi, Fries, Steak"><br>
            </div>
        <div class="col-md-1"><input class="btn btn-light" id="submitkey" type="submit" value="Submit">
            </div>
    </div>

    <script>
        var input = document.getElementById("myInput");
        input.addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.keyCode === 13) {
        document.getElementById("submitkey").click();
        }
        });
    </script>

</form>
  {{ error }}
<br> </br>

<br> </br>
</div>


{% endif %}

{% if found %}

<br> </br>

<h3 class="text-center" style="font-family: 'Lato', sans-serif;">Here are your results!</h3><br><br>

<div class="container-fluid">

<div class="card-deck x-3">

  <div class="card card-img bg-transparent w3-card-4 rounded" style="padding: 15px">
    <a href="{{ restroom_url0 }}" target="_blank">
        <div class="rounded w3-card" style="width: 95%; height: 300px; overflow: hidden; margin: 10px; position: relative;">
          <img class="text-center" style="position: absolute; left: -1000%; right: -1000%; top: -1000%; bottom: -1000%; margin: auto; min-height: 100%; min-width: 100%;" src="{{ restroom_image0 }}"/>
        </div>
    </a>
      <div class="card-body bg-transparent">
        <h4 class="card-title" style="font-family: 'Lato', sans-serif;">{{ restroom0 }}</h4>
          <p class="card-text">{{ restroom_address0 }}. <br> {{ restroom_city0 }}, {{ restroom_state0 }} {{ restroom_zipcode0 }}</p>
      </div>
      <div class="card-footer bg-transparent">
        <small class="text-bold">{{ restroom_rating0 }} | Rated by {{ restroom_review0 }}</small>
      </div>
  </div>



  {% if restroom_true1 %}

  <div class="card card-img bg-transparent w3-card-4 rounded" style="padding: 15px">
    <a href="{{ restroom_url1 }}" target="_blank">
        <div class="rounded w3-card" style="width: 95%; height: 300px; overflow: hidden; margin: 10px; position: relative;">
          <img class="text-center" style="position: absolute; left: -1000%; right: -1000%; top: -1000%; bottom: -1000%; margin: auto; min-height: 100%; min-width: 100%;" src="{{ restroom_image1 }}"/>
        </div>
    </a>
    <div class="card-body bg-transparent">
        <h4 class="card-title" style="font-family: 'Lato', sans-serif;">{{ restroom1 }}</h4>
        <p class="card-text">{{ restroom_address1 }}. <br> {{ restroom_city1 }}, {{ restroom_state1 }} {{ restroom_zipcode1 }}</p>
    </div>
      <div class="card-footer bg-transparent">
        <small class="text-bold" style="bold">{{ restroom_rating1 }} | Rated by {{ restroom_review1 }}</small>
      </div>
    </div>

  {% endif %}

  {% if not restroom_true1 %}

  <div class="card bg-transparent">
    <div class="card-body bg-transparent">
    </div>
    <div class="card-footer bg-transparent">
    </div>
  </div>

  {% endif %}

  {% if restroom_true2 %}

  <div class="card card-img bg-transparent w3-card-4 rounded" style="padding: 15px">
    <a href="{{ restroom_url2 }}" target="_blank">
        <div class="rounded w3-card" style="width: 95%; height: 300px; overflow: hidden; margin: 10px; position: relative;">
          <img class="text-center" style="position: absolute; left: -1000%; right: -1000%; top: -1000%; bottom: -1000%; margin: auto; min-height: 100%; min-width: 100%;" src="{{ restroom_image2 }}"/>
        </div>
    </a>
    <div class="card-body bg-transparent">
        <h4 class="card-title" style="font-family: 'Lato', sans-serif;">{{ restroom2 }}</h4>
        <p class="card-text">{{ restroom_address2 }}. <br> {{ restroom_city2 }}, {{ restroom_state2 }} {{ restroom_zipcode2 }}</p>
    </div>
    <div class="card-footer bg-transparent">
      <small class="text-bold" style="bold">{{ restroom_rating2 }} | Rated by {{ restroom_review2 }}</small>
    </div>
  </div>

  {% endif %}

  {% if not restroom_true2 %}

  <div class="card bg-transparent">
    <div class="card-body bg-transparent">
    </div>
    <div class="card-footer bg-transparent">
    </div>
  </div>

  {% endif %}

</div>

{% if not three_or_less %}

    <div class="d-none d-md-block">
        <br><br>
    </div>

<div class="card-deck x-3">

  {% if restroom_true3 %}
  <div class="card card-img bg-transparent w3-card-4 rounded" style="padding: 15px">
    <a href="{{ restroom_url3 }}" target="_blank">
        <div class="rounded w3-card" style="width: 95%; height: 300px; overflow: hidden; margin: 10px; position: relative;">
          <img class="text-center" style="position: absolute; left: -1000%; right: -1000%; top: -1000%; bottom: -1000%; margin: auto; min-height: 100%; min-width: 100%;" src="{{ restroom_image3 }}"/>
        </div>
    </a>
    <div class="card-body bg-transparent">
        <h4 class="card-title" style="font-family: 'Lato', sans-serif;">{{ restroom3 }}</h4>
        <p class="card-text">{{ restroom_address3 }}. <br> {{ restroom_city3 }}, {{ restroom_state3 }} {{ restroom_zipcode3 }}</p>
    </div>
    <div class="card-footer bg-transparent">
      <small class="text-bold"> {{ restroom_rating3 }} | Rated by {{ restroom_review3 }}</small>
    </div>
  </div>

    {% endif %}

    {% if not restroom_true3 %}

  <div class="card bg-transparent">
    <div class="card-body bg-transparent">
    </div>
    <div class="card-footer bg-transparent">
    </div>
  </div>

    {% endif %}

    {% if restroom_true4 %}

  <div class="card card-img bg-transparent w3-card-4 rounded" style="padding: 15px">
    <a href="{{ restroom_url4 }}" target="_blank">
        <div class="rounded w3-card" style="width: 95%; height: 300px; overflow: hidden; margin: 10px; position: relative;">
          <img class="text-center" style="position: absolute; left: -1000%; right: -1000%; top: -1000%; bottom: -1000%; margin: auto; min-height: 100%; min-width: 100%;" src="{{ restroom_image4 }}"/>
        </div>
    </a>
    <div class="card-body bg-transparent">
        <h4 class="card-title" style="font-family: 'Lato', sans-serif;">{{ restroom4 }}</h4>
        <p class="card-text">{{ restroom_address4 }}. <br> {{ restroom_city4 }}, {{ restroom_state4 }} {{ restroom_zipcode4 }}</p>
    </div>
    <div class="card-footer bg-transparent">
      <small class="text-bold">{{ restroom_rating4 }} | Rated by {{ restroom_review4 }}</small>
    </div>
  </div>

    {% endif %}

    {% if not restroom_true4 %}

  <div class="card bg-transparent">
    <div class="card-body bg-transparent">
    </div>
    <div class="card-footer bg-transparent">
    </div>
  </div>

    {% endif %}

    {% if restroom_true5 %}

  <div class="card card-img bg-transparent w3-card-4 rounded" style="padding: 15px">
    <a href="{{ restroom_url5 }}" target="_blank">
        <div class="rounded w3-card" style="width: 95%; height: 300px; overflow: hidden; margin: 10px; position: relative;">
          <img class="text-center" style="position: absolute; left: -1000%; right: -1000%; top: -1000%; bottom: -1000%; margin: auto; min-height: 100%; min-width: 100%;" src="{{ restroom_image5 }}"/>
        </div>
    </a>
    <div class="card-body bg-transparent">
        <h4 class="card-title" style="font-family: 'Lato', sans-serif;">{{ restroom5 }}</h4>
        <p class="card-text">{{ restroom_address5 }}. <br> {{ restroom_city5 }}, {{ restroom_state5 }} {{ restroom_zipcode5 }}</p>
    </div>
    <div class="card-footer bg-transparent">
      <small class="text-bold"> {{ restroom_rating5 }} | Rated by {{ restroom_review5 }}</small>
    </div>
  </div>

    {% endif %}

    {% if not restroom_true5 %}

  <div class="card bg-transparent">
    <div class="card-body bg-transparent">
    </div>
    <div class="card-footer bg-transparent">
    </div>
  </div>

    {% endif %}

</div>
<br>
</div>

{% endif %}

{% endif %}

{% endblock %}